[Unit]
Description=Download NHK Radio
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=seotaro
Group=seotaro
WorkingDirectory=/home/seotaro/github/seotaro/radio/download
ExecStart=node /home/seotaro/github/seotaro/radio/download/index.js

[Install]
WantedBy=multi-user.target